/* activitypub.rocks website
   Copyright © 2016 Christopher Allan Webber <cwebber@dustycloud.org>
  
   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
  
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
  
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    src: local('Inconsolata-Regular'), local('Inconsolata'), local('Inconsolata Regular'), url('../fonts/inconsolata/Inconsolata-Regular.ttf');
}

@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    src: local('Inconsolata-Bold'), local('Inconsolata Bold'), url('../fonts/inconsolata/Inconsolata-Bold.ttf');
}

@font-face {
    font-family: 'Junction';
    font-style: normal;
    font-weight: 400;
    src: local('JunctionRegular'), local('Junction'), local('Junction Regular'), url('../fonts/junction/junction.ttf');
}

body {
    background-color: #fcf9ff;
    color: #313152;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Junction';
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    font-size: 16pt;
    min-width: 500px;
}

.main-wrapper {
    flex: 1;
    /* This is used to make the footer "flush" with the rest of the page */
    min-height: 95.5vh;
}

a {
    color: #ca4156;
    text-decoration: none;
    transition: text-shadow .5s;
}

a:hover {
    text-shadow: 0px 0px 2px #ffb0fe;
}

a:visited {
    color: #a1363d;
    text-decoration: none;
}

code {
    color: #5a4a73;
}

#site-header {
    text-align: center;
    font-size: 25pt;
    font-weight: bold;
    margin: 10px;
}

#site-header a {
    color: #313152;
    text-shadow: 0px 0px 1px #e66283;
    transition: text-shadow 1s, color 1s;
}

#site-header a:hover {
    text-shadow: 0px 0px 2px #6abdcd;
    color: #7362ac;
}

.read-it {
    font-weight: bold;
    color: #5a4a73;
    text-align: center;
}

div.for-implementers-box {
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    border: 3px dashed #cacae4;
    background: #ffffff;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14pt;
}

div.for-implementers-box header {
    color: #5a4a73;
    text-align: center;
    margin: 5px;
    font-size: 20pt;
}

h1, h2, h3, h4 {
    text-align: center;
}

.news-feed {
    margin-bottom: 30px;
    text-align: center;
}

.news-feed header {
    font-size: 20pt;
}

.news-feed ul {
    padding: 0px;
    margin: 10px;
}

.news-feed li {
    list-style-type: none;
}

.news-feed-item-date {
    font-size: 8pt;
}


div.blogpost {
    border-radius: 5px;
    border: 3px solid #cacae4;
    background: #ffffff;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16pt;
}

header.post-title {
    padding: 5px;
    font-size: 20pt;
    text-align: center;
}

.blogpost .post-about {
    text-align: center;
    color: #9c9cb4;
    font-size: .75em;
}



/* 
 * div.content-box {
 *     border-radius: 5px;
 *     border: 3px solid #685f68; 
 *     background: #312f31;
 *     padding: 10px;
 *     padding-left: 30px;
 *     padding-right: 30px;
 *     margin-bottom: 10px;
 * }
 * 
 * div.content-box h2.title {
 *     margin-left: -10px;
 * }
 * 
 * div.content-box h1.title {
 *     margin-left: -10px;
 * }
 * 
 * .bigger-text {
 *     font-size: 16pt;
 * }
 * 
 * /\* Not super sold on these *\/
 * 
 * h1 {
 *     color: #ffffff;
 *     font-size: 1.5em;
 *     margin: 10px;
 *     font-family: 'Inconsolata', monospace;
 * }
 * 
 * h2 {
 *     color: #ffffff;
 *     font-size: 1.25em;
 *     margin: 10px;
 *     font-family: 'Inconsolata', monospace;
 * }
 */

.footer {
    font-size: 10pt;
    text-align: center;
}

.footer a:hover {
    text-shadow: 0px 0px 1px #a981a9;
}

div.code {
    border-radius: 5px;
    border: 3px solid #110e13;
    background: #110e13;
    padding: 20px;
    margin: 20px;
    overflow: hidden;
    white-space: pre;
}

.news-header {
    border-radius: 5px;
    border: 2px solid #2c2a2c;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    background: #2c2a2c;
}

.news-header h3 {
    color: #f2d7f2;
    margin-top: 5px;
    margin-bottom: 3px;
}